/* :root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
  "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
  "Source Han Sans CN", sans-serif;
} */

.coffee-bean {
  position: absolute;
  width: 45px;
  height: 50px;
  top: 50px;
  left: 80px;
  background: url(../coffee-bean_9241250.png) no-repeat center;
  background-size: cover;
}
.menu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  position: absolute;
  width: 312px;
  height: 31px;
  top: 50px;
  left: 1000px;
  z-index: 1;
}
.home {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 51px;
  color: rgba(12, 12, 12, 0.801);
  font-family: Jaldi, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 50.698px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.projects {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 51px;
  color: rgba(12, 12, 12, 0.801);
  font-family: Jaldi, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 50.698px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.about {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 51px;
  color: rgba(12, 12, 12, 0.801);
  font-family: Jaldi, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 50.698px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.contact {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 51px;
  color: rgba(12, 12, 12, 0.801);
  font-family: Jaldi, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 50.698px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}

/* nav.css */

.menu-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: rgba(12, 12, 12, 0.801);
  margin: 5px 0;
  transition: 0.4s;
}

.menu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}



  

.menu a {
  text-decoration: none; /* Remove underline from all menu links */
}

/* Add this CSS for the overlay background */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.336); /* Semi-transparent white */
  z-index: 9; /* Ensure the overlay is above other content */
}
.close-icon {
  font-size: 24px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.973); /* Adjust color as needed */
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 11; /* Ensure the close icon is above the overlay */
}


@media (max-width: 768px) {
 
  .coffee-bean {
    width: 55px;
    height: 50px;
    top: 10px;
    left: 5px;
  }
  .menu-toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgb(255, 255, 255); /* Set the background to white */
    z-index: 10;
    overflow-y: auto; /* Enable scrolling for menu content */
  }

  .navbar.open .menu {
    display: flex;
  }

  /* Ensure that the menu icon and close icon are visible */
  .menu-toggle,
  .close-icon {
    display: block;
    z-index: 11;
  }

  /* Show the overlay when the menu is open */
  .navbar.open .overlay {
    display: block;
   
  }
  
}
