@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root {
  --default-font-family: "Madimi One", sans-serif;
  
}

.app {
  position: relative;
}

.content {
  position: relative; /* Change position to relative */
  z-index: 1; /* Ensure the content is rendered above the video background */
  text-align: center; /* Adjust as needed */
  color: #ffffff; /* Text color */
}
